<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head', { title : 'index' }) %> 
</head>

<body class="home">
    <header class="carrito__header">
        <%- include('./partials/header') %> 
    </header>
    <main class="home__main">
        <section class="home__main__banner">
            <div class="banner_principal"></div>
        </section>
        <section class="home__main__masBuscados">
            <h4>Descuentos</h4>

            
        </section>
        <section class="home__main__buscAnterior">
            <h4>Nuestros productos</h4>
            <% productsRandom.forEach(product => { %>
                <article> <a href="/products/detalle/<%= product.id %>">
                    <div class="img_product">
                        <img src="/images/<%= product.images[0].file %>" alt="">
                    </div>
                    <% if (product.discount > 0) { %>
                        <div class="descrip-discount">
                            <p class="product_name"><%= product.name %></p>
                            <p class="product_price-anterior">$<%= product.price %></p>
                            <p class="product_discount">%<%= product.discount %></p>
                            <p class="product_price">$<%= Math.round(product.price - (product.price * product.discount / 100)) %></p>
                        </div>
                     
                    <% } else { %>
                     
                    <div class="descrip">
                        <p class="product_name"><%= product.name %></p>
                        <p class="product_price">$<%= product.price %></p>
                    </div>
                    <% } %>
                </a>
            </article>
            <% }) %>
            
       


    </main>
    <footer class="home__footer">
        <%- include('./partials/footer') %> 
    </footer>
    <script src="javascripts/menuBurger.js"></script>
</body>

</html>